In [33]:
import numpy as np
import pandas as pd
from datetime import date

In [76]:
data_path = 'C:/Users/user/Documents/GitHub/2nd-ML100Days/data/Midterm/'
dfoff = pd.read_csv(data_path + 'train_offline.csv')
dftest = pd.read_csv(data_path + 'test_offline.csv')
dfoff = dfoff[~dfoff.Coupon_id.isna()]
dftest = dftest[~dftest.Coupon_id.isna()]  #留下有優惠券者
dftest.reset_index(drop=True, inplace=True)
print(dfoff.shape)
print(dftest.shape)
dfoff.head()

(746969, 7)
(306313, 6)

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
1,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
2,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
3,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN
4,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN
5,2223968,3381,9776.0,10:5,2.0,20160129.0,NaN

In [35]:
# 創立目標變數label：15天內使用為1,超過15天使用為0,無使用為-1

def label(row):
    if np.isnan(row['Date_received']):
        return -1
    if not np.isnan(row['Date']):
        td = pd.to_datetime(row['Date'], format='%Y%m%d') -  pd.to_datetime(row['Date_received'], format='%Y%m%d')
        if td <= pd.Timedelta(15, 'D'):
            return 1
    return 0

dfoff["label"] = dfoff.apply(label, axis=1)
dfoff["label"].value_counts()

0    710665
1     36304
Name: label, dtype: int64

In [36]:
def CheckMissingVals(data):
    for col in data.columns:
        if np.sum(data[col].isnull()) != 0:
            print(f' Missing values in {col} : {np.sum(data[col].isnull())}')

print("Count of missing data in training dataset: ")
CheckMissingVals(dfoff)
print('\n')
print("Count of missing data in testing dataset: ")
CheckMissingVals(dftest)

Count of missing data in training dataset:
 Missing values in Distance : 69826
 Missing values in Date : 704033


Count of missing data in testing dataset:
 Missing values in Distance : 36177

In [37]:
# 星期幾取得優惠券
def getWeekday(row):
    if (np.isnan(row)) or (row==-1):
        return row
    else:
        return pd.to_datetime(row, format = "%Y%m%d").dayofweek+1 # add one to make it from 0~6 -> 1~7

dfoff['weekday'] = dfoff['Date_received'].apply(getWeekday)
dftest['weekday'] = dftest['Date_received'].apply(getWeekday)

# weekday_type (weekend = 1)
dfoff['weekday_type'] = dfoff['weekday'].astype('str').apply(lambda x : 1 if x in [6,7] else 0 ) # apply to trainset
dftest['weekday_type'] = dftest['weekday'].astype('str').apply(lambda x : 1 if x in [6,7] else 0 ) # apply to testset

In [38]:
weekdaycols = ['weekday_' + str(i) for i in range(1,8)]
print(weekdaycols)

tmpdf = pd.get_dummies(dfoff['weekday'].replace(-1, np.nan))
tmpdf.columns = weekdaycols
dfoff[weekdaycols] = tmpdf

tmpdf = pd.get_dummies(dftest['weekday'].replace(-1, np.nan))
tmpdf.columns = weekdaycols
dftest[weekdaycols] = tmpdf

['weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6', 'weekday_7']

In [39]:
# Generate features - coupon discount and distance
def getDiscountType(row):
    if row == 'null':
        return 'null'
    elif ':' in row:
        return 1
    else:
        return 0

def convertRate(row):
    """Convert discount to rate"""
    if row == 'null':
        return 1.0
    elif ':' in row:
        rows = row.split(':')
        return 1.0 - float(rows[1])/float(rows[0])
    else:
        return float(row)

def getDiscountMan(row):
    if ':' in row:
        rows = row.split(':')
        return int(rows[0])
    else:
        return 0

def getDiscountJian(row):
    if ':' in row:
        rows = row.split(':')
        return int(rows[1])
    else:
        return 0

def processData(df):
    
    # convert discunt_rate
    df['discount_rate'] = df['Discount_rate'].astype('str').apply(convertRate)     #轉換成優惠券折數
    df['discount_man'] = df['Discount_rate'].astype('str').apply(getDiscountMan)   #滿x原可使用
    df['discount_jian'] = df['Discount_rate'].astype('str').apply(getDiscountJian) #折y元
    df['discount_type'] = df['Discount_rate'].astype('str').apply(getDiscountType) #優惠券類型 滿x折y=1,其他=0
    
    return df

dfoff = processData(dfoff)
dftest = processData(dftest)

In [40]:
#補缺值
#Distance屬於類別型，非連續型數值，因此都採用眾數的方式填補
dfoff['Distance']=dfoff['Distance'].fillna(dfoff['Distance'].mode()[0])
dftest['Distance']=dftest['Distance'].fillna(dftest['Distance'].mode()[0])

In [58]:
import datetime
#把資料轉成日期格式，且因為strptime只能接受str，因此先把nan值判斷成0，之後再把整欄都轉成str
dfoff['Date_received']=dfoff['Date_received'].apply(lambda x: np.int64(x) if np.isnan(x)==False else 0)
dfoff['Date_received']=dfoff['Date_received'].astype('str')
dfoff['Date_received']=dfoff['Date_received'].apply(lambda x:datetime.datetime.strptime(x,'%Y%m%d') if x!='0' else x)

dfoff['Date']=dfoff['Date'].apply(lambda x: np.int64(x) if np.isnan(x)==False else 0)
dfoff['Date']=dfoff['Date'].astype('str')
dfoff['Date']=dfoff['Date'].apply(lambda x:datetime.datetime.strptime(x,'%Y%m%d') if x!='0' else x)


#把資料轉成日期格式，且因為strptime只能接受str，把整欄都轉成str
dftest['Date_received']=dftest['Date_received'].astype('int')
dftest['Date_received']=dftest['Date_received'].astype('str')
dftest['Date_received']=dftest['Date_received'].apply(lambda x:datetime.datetime.strptime(x,'%Y%m%d'))

In [59]:
#整理Feature
#Discount
#把Discount_rate轉成rate，並分門別類，其他的也要轉成數值
def Discount_type(row):
    if ':' in row:
        return 1
    else:
        return 0
    
def Turn_to_rate(row):
    if ':' in  row:
        new_row=row.split(':')
        return 1.0 - float(new_row[1])/float(new_row[0])
    else:
        return float(row)

def Discount_condition(row):
    if ':' in row:
        new_row=row.split(':')
        return float (new_row[1])
    else:
        return 0

#Date_received
#假設收到coupon與發薪日有關 
def new_date_received(row):
    day=int(datetime.datetime.strftime(row, '%d'))
    if  day <11:
        return 0
    elif day >20:
        return 2
    else:
        return 1    
    
def processData(df):
    
    df['Discount_type2']=df['Discount_rate'].apply(Discount_type)
    df['New_Discount_rate2']=df['Discount_rate'].apply(Turn_to_rate)
    df['Discount_condition2']=df['Discount_rate'].apply(Discount_condition)
    df['New_date_received']=df['Date_received'].apply(new_date_received)

    
    return df    
    
dfoff = processData(dfoff)
dftest = processData(dftest)

In [60]:
dfoff.head()

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,label,weekday,weekday_type,...,weekday_6,weekday_7,discount_rate,discount_man,discount_jian,discount_type,Discount_type2,New_Discount_rate2,Discount_condition2,New_date_received
1,1439408,2632,8591.0,20:1,0.0,2016-02-17,0,0,3,0,...,0,0,0.95,20,1,1,1,0.95,1.0,1
2,1439408,2632,1078.0,20:1,0.0,2016-03-19,0,0,6,0,...,1,0,0.95,20,1,1,1,0.95,1.0,1
3,1832624,3381,7610.0,200:20,0.0,2016-04-29,0,0,5,0,...,0,0,0.90,200,20,1,1,0.90,20.0,2
4,2029232,3381,11951.0,200:20,1.0,2016-01-29,0,0,5,0,...,0,0,0.90,200,20,1,1,0.90,20.0,2
5,2223968,3381,9776.0,10:5,2.0,2016-01-29,0,0,5,0,...,0,0,0.50,10,5,1,1,0.50,5.0,2

In [61]:
dftest.head()

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,weekday,weekday_type,weekday_1,weekday_2,...,weekday_6,weekday_7,discount_rate,discount_man,discount_jian,discount_type,Discount_type2,New_Discount_rate2,Discount_condition2,New_date_received
0,1439408,4663,11002.0,150:20,1.0,2016-05-28,6,0,0,0,...,1,0,0.866667,150,20,1,1,0.866667,20.0,2
1,1439408,2632,8591.0,20:1,0.0,2016-06-13,1,0,1,0,...,0,0,0.950000,20,1,1,1,0.950000,1.0,1
2,1439408,2632,8591.0,20:1,0.0,2016-05-16,1,0,1,0,...,0,0,0.950000,20,1,1,1,0.950000,1.0,1
3,2029232,450,1532.0,30:5,0.0,2016-05-30,1,0,1,0,...,0,0,0.833333,30,5,1,1,0.833333,5.0,2
4,2029232,6459,12737.0,20:1,0.0,2016-05-19,4,0,0,0,...,0,0,0.950000,20,1,1,1,0.950000,1.0,1

In [62]:
print("Count of missing data in training dataset: ")
CheckMissingVals(dfoff)
print('\n')
print("Count of missing data in testing dataset: ")
CheckMissingVals(dftest)

Count of missing data in training dataset:


Count of missing data in testing dataset:

In [87]:
original_feature = ['discount_rate',
                    'discount_type',
                    'discount_man', 
                    'discount_jian',
                    'Distance', 
                    'weekday', 
                    'weekday_type',
                    'Discount_type2', 'New_Discount_rate2','Discount_condition2',
                    'New_date_received'] + weekdaycols
print(len(original_feature),original_feature)

18 ['discount_rate', 'discount_type', 'discount_man', 'discount_jian', 'Distance', 'weekday', 'weekday_type', 'Discount_type2', 'New_Discount_rate2', 'Discount_condition2', 'New_date_received', 'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6', 'weekday_7']

In [88]:
train_X = dfoff[original_feature]
train_Y = dfoff['label']
test_X = dftest[original_feature]

KeyError: "['discount_type', 'weekday_3', 'weekday_type', 'weekday_6', 'discount_jian', 'discount_man', 'Discount_type2', 'weekday_2', 'weekday_5', 'weekday_4', 'New_date_received', 'weekday_7', 'weekday_1', 'weekday', 'Discount_condition2', 'New_Discount_rate2', 'discount_rate'] not in index"

In [65]:
# 羅吉斯迴歸
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(train_X, train_Y)
lr_pred = lr.predict_proba(test_X)[:,1]
sub = pd.DataFrame({'label': lr_pred}) 
sub.to_csv('label.csv', index=False)

C:\Python\V3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [66]:
# 梯度提升機預測檔 
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
gdbt = GradientBoostingClassifier()
gdbt.fit(train_X, train_Y)
gdbt_pred = gdbt.predict_proba(test_X)[:,1]
sub = pd.DataFrame({'label': gdbt_pred}) 
sub.to_csv('label2.csv', index=False)

In [77]:
#做出uid
uid=dftest[pd.isna(dftest['Date_received'])==False]
uid_columns=['User_id','Coupon_id','Date_received']
uid=uid[uid_columns]
uid['Date_received']=uid['Date_received'].astype('int')
uid['Coupon_id']=uid['Coupon_id'].astype('int')
uid=uid.astype('str')
uid['two_id']=uid['User_id'].str.cat(uid['Coupon_id'],sep='_')
uid['uid']=uid['two_id'].str.cat(uid['Date_received'],sep='_')
uid=pd.DataFrame(uid['uid'])
uid=uid.reset_index(drop=True)
uid.head()

                      uid
0  1439408_11002_20160528
1   1439408_8591_20160613
2   1439408_8591_20160516
3   2029232_1532_20160530
4  2029232_12737_20160519

In [85]:
final=pd.DataFrame(lr_pred)
final.columns=['label']
submission=uid.merge(final,how='inner',right_index=True,left_index=True)
submission.head()

                      uid     label
0  1439408_11002_20160528  0.017329
1   1439408_8591_20160613  0.116090
2   1439408_8591_20160516  0.116090
3   2029232_1532_20160530  0.110436
4  2029232_12737_20160519  0.116090

In [86]:
submission=submission.groupby('uid',as_index=False).mean()
submission.to_csv('submission.csv',index=False)